<div class="bslf">
  <form action="" method="post">
    <h2 class="text-center">Login</h2>
    <h5 class="text-center subtitle-text">Control de producción</h5>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Usuario" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" required="required">
    </div>
    <div class="form-group clearfix">
      <label class="checkbox-inline pull-left">
        <input type="checkbox"> Remember me</label>
      <button type="submit" class="btn btn-info pull-right">ENTRAR</button>
    </div>
    <div class="clearfix">
      <a href="javascript:void(0);" class="pull-right">Forgot Password?</a>
    </div>
  </form>
</div>