.bslf{
  width: 350px;
  margin: 120px auto;
  padding: 25px 20px;
  background: #eceff1;
  box-shadow: 2px 2px 4px #b0bec5;
  border-radius: 5px;
  color: #fff;
   }
   .bslf h2{
    margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 1px solid #4fc3f7 ;
  background-color: #81d4fa ;
  font-weight: bold;
  text-shadow: 1px 2px 7px #333;
  letter-spacing: 5px;
   }
   .bslf a{color: #01579b;}
   .bslf a:hover{
    text-decoration: none;
      color: #03A9F4;
   }
   .bslf .checkbox-inline{padding-top: 7px;}

   .checkbox-inline{
       color: #01579b;
   }

   .subtitle-text{
       font-weight: bold;
       color: #01579b;
   }

   small{
       color: red;
   }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .bslf{
       width: calc(100% - 8px);
       margin-top: 50px;
    }

   
}

//    .login-content{

   // calc(100% - 50px)
//       background-image: url()
//    }
