<div class="main-content login-content">
  <div class="container-fluid container-login">
    <div class="bslf">
      <form id="sign_in" [formGroup]="formLogin" class="col s12" (ngSubmit)="login()" autocomplete="off">
        <h2 class="text-center">Login</h2>
        <h5 class="text-center subtitle-text">Control de producción</h5>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Usuario" id='usuario' formControlName='usuario' (ngModelChange)="resetMensaje()"
            [(ngModel)]='usuario.usuario' autofocus>
          <small *ngIf="formLogin.controls.usuario.errors?.required && (formLogin.controls.usuario?.touched || submitted)" class="form-text text-muted text-validator-error">
            Ingrese usuario
          </small>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" id='pwd' formControlName='pwd' (ngModelChange)="resetMensaje()"
            [(ngModel)]='usuario.pwd'>
          <small *ngIf="formLogin.controls.pwd.errors?.required && (formLogin.controls.pwd?.touched || submitted)"
            class="form-text text-muted text-validator-error">
            Ingrese contraseña
          </small>
        </div>
        <div class="form-group clearfix">
          <!-- <label class="checkbox-inline pull-left"> -->
            <!-- <input type="checkbox" id="rememberme" (click)="rememberMe($event)" [checked]="remember"> Remember me</label> -->
          <button type="submit" class="btn btn-info btn-block" [disabled]='disabled'>{{ !disabled ? 'INICIAR SESIÓN' : 'PROCESANDO'}}</button>
        </div>
        <div class="clearfix">
          <a routerLink="/forgot-password" class="pull-right">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
</div>