<div class="col-md-12">
  <div class="card table-responsive">
      <div class="card-body">
          <table class="table table-bordered table-striped table-reporte" bordercolor="#bdbdbd"
              border="1" [hidden]="tipo_reporte == 1">
              <thead>
                  <tr>
                      <th colspan="4" class="text-center">
                          <font color="#1565c0" *ngIf="tipo_reporte != 1">
                              {{ (tipo_reporte == 2 )? 'REPORTE GLOBAL ' + titulo_1er_card  : 'REPORTE ' + titulo_1er_card }}
                          </font>
                          <font color="#1565c0" *ngIf="tipo_reporte == 1">
                            {{ info.nombre }}<br>
                            <small>{{ info.fecha_inicio | date: 'fullDate' }} AL {{ info.fecha_fin | date: 'fullDate' }}</small>
                          </font>
                      </th>
                  </tr>
                  <tr>
                      <th>
                          <font color="#1565c0">LUGAR</font>
                      </th>
                      <th>
                          <font color="#1565c0">NOMBRE WALKER</font>
                      </th>
                      <th>
                          <font color="#1565c0">KILOMETROS</font>
                      </th>
                      <th>
                          <font color="#1565c0">PIES</font>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let row of datos; let indice = index">

                      <ng-template [ngIf]="indice%2 == 0" [ngIfElse]="sinFondo">
                          <td bgcolor="#d9edf7">
                              <font color="#1565c0">{{ indice + 1 }}</font>
                          </td>
                          <td bgcolor="#d9edf7">
                              <font color="#1565c0">{{ row[2] }} </font>
                          </td>
                          <td bgcolor="#d9edf7">
                              <font color="#1565c0">{{ row[0] | ftKm }}</font>
                          </td>
                          <td bgcolor="#d9edf7">
                              <font color="#1565c0">{{ row[0] }}</font>
                          </td>
                      </ng-template>
                      <ng-template #sinFondo>
                          <td>
                              <font color="#1565c0">{{ indice + 1 }}</font>
                          </td>
                          <td>
                              <font color="#1565c0">{{ row[2] }} </font>
                          </td>
                          <td>
                              <font color="#1565c0">{{ row[0] | ftKm }}</font>
                          </td>
                          <td>
                              <font color="#1565c0">{{ row[0] }}</font>
                          </td>
                      </ng-template>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
<div class="col-md-12">
  <a *ngIf="isLast" href="javascript:void(0);" (click)="downloadExcel()"><i
          class="pe-7s-cloud-download">&nbsp;</i>DESCARGAR EXCEL</a>
</div>