<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <select class="selectpicker" data-live-search="true" data-live-search-placeholder="Buscar proyecto" data-title="Proyecto" data-width="50%">
            <option data-tokens="ketchup mustard">Nombre proyecto</option>
          </select>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-succes btn-circle btn-xl">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br><br>
          <div class="card">
            <div class="header">
              <h4 class="title">CONFIGURACIÓN DE REPORTE</h4>
              <p class="category">LISTADO DE CONFIGURACIONES PARA DESPLEGAR REPORTES</p>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>FECHA INICIO</th>
                    <th>FECHA FIN</th>
                    <th>NOMBRE PERIODO</th>
                    <th>META</th>
                    <th class="text-center">DETALLE</th>
                    <th class="text-center">ELIMINAR</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>DATOS CAMPO</td>
                      <td>DATOS CAMPO</td>
                      <td>DATOS CAMPO</td>
                      <td>DATOS CAMPO</td>
                      <td>DATOS CAMPO</td>
                      <td>DATOS CAMPO</td>
                    </tr>
                </tbody>
              </table>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>