<div class="main-content">
  <app-loader *ngIf="loading"></app-loader>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <select class="proyectos" [(ngModel)]="selectedProject"  (change)="limpiarBusqueda()">
          <option data-tokens="proyecto.nombre" *ngFor="let proyecto of proyectos" [value]="proyecto.id_proyecto">{{ proyecto.nombre }}</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <button type="button" class="btn btn-info btn-block btn-salto" (click)="busquedaConfig()">MOSTRAR</button>
      </div>
    </div>
    <div class="contenedor busqueda" *ngIf="busqueda">
      <div class="row">
        <div class="col-md-12">
          <br>
          <div class="form-group">
            <label for="buscar">FILTRAR:</label>
            <input type="text" class="form-control" id="buscar" placeholder="ESCRIBE AQUÍ PARA FILTRAR" [(ngModel)]="filtrar" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <a type="button" class="btn btn-primary btn-circle btn-xl" [routerLink]="'crear/'+selectedProject">
          <i class="fa fa-plus"></i>
        </a>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">LISTADO DE CONFIGURACIONES</h4>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>NOMBRE</th>
                    <th>FECHA INICIO</th>
                    <th>FECHA FIN</th>
                    <th>META</th>
                    <th>DESCRIPCIÓN</th>
                    <th>ESTATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="proyecto_selected.configuraciones.length == 0">
                    <td class="text-center" colspan="6" >SIN REGISTROS</td>
                  </tr>
                  <tr *ngFor="let config of proyecto_selected.configuraciones" class="tr-puntero-color">
                    <td>{{ config.nombre }}</td>
                    <td>{{ config.fecha_inicio | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ config.fecha_fin | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ config.meta }}</td>
                    <td>{{ config.descripcion }}</td>
                    <td>{{ (config.estatus == 1)? 'ACTIVO' : ' INACTIVO' }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>