<!-- modal calendario -->
<div class="modal fade" id="modal-calendario" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" (click)="close(false)">&times;</button>
        <h6 class="modal-title">{{ titulo }}</h6>
      </div>
      <div class="modal-body text-center">
        <div class="div-calendario"></div>
        <small *ngIf="requerido" class="form-text text-muted text-validator-error">Seleccione una fecha</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" (click)="close(false)">CANCELAR</button>
        <button type="submit" class="btn btn-default btn-sm" (click)="close(true)">CAMBIAR</button>
      </div>
    </div>
  </div>
</div>
<!-- fin modal calendario -->