.thumbnail {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
   transition: 0.3s;
   min-width: 30%;
   border-radius: 5px;
 }

 .thumbnail-description {
   min-height: 30px;
 }

 .thumbnail:hover {
   cursor: pointer;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .7);
 }

 .smaller{
     font-weight: bold;
     font-size: 4vh;
 }

 .hr{
    margin-top: 5px;
    margin-bottom: 5px;
 }

 .margin-thumbnail{
    margin-bottom: 5px;
 }

.panel-heading .badge{
    color: #ffffff;
    margin-left: 5px;
    background-color: #e53935 !important;
 }

 .contenedor {
    display: flex;
    justify-content: space-between;
  }

  .km-badge{
      color: black;
      background-color: white;
  }

  .panel-body-height{
     min-height: 45vh;
  }

  .btn-consultar{
     margin-bottom: 20px;
  }

  .estilo-sombra{
     color: white;
     -webkit-box-shadow: 6px 8px 14px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 6px 8px 14px 0px rgba(0,0,0,0.75);
      box-shadow: 6px 8px 14px 0px rgba(0,0,0,0.75);
  }

  .estilo-sombra-text{
     color: white;
     text-shadow: 5px 3px 4px rgba(0, 0, 0, 0.75);
  }

  .btn-info{
     border-color: white;
  }

  @media (min-width:100px) and (max-width: 500px){
   .h1-responsive {
     font-size: 20px;
   }
}

@media  (min-width:500px) and (max-width: 800px){
   .h1-responsive {
     font-size: 35px;
   }
}
   
   

