<div class="main-content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="thumbnail">
        <div class="caption text-center">
          <div class="position-relative">
            <img src="assets/img/walking_64x64.png" style="width:48px;height:48px;" />
          </div>
          <h5 id="thumbnail-label" class="margin-thumbnail"><a href="javascript:void(0);">Caminados</a></h5>
          <hr class="hr">
          <div class="thumbnail-description smaller">40.7</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="thumbnail">
        <div class="caption text-center">
          <div class="position-relative">
            <img src="assets/img/pool-cliente.png" style="width:48px;height:48px;" />
          </div>
          <h5 class="margin-thumbnail"><a href="javascript:void(0);">Pool cliente</a></h5>
          <hr class="hr">
          <div class="thumbnail-description smaller">4.34</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="thumbnail">
        <div class="caption text-center">
          <div class="position-relative">
            <img src="assets/img/semana_64x64.png" style="width:48px;height:48px;" />
          </div>
          <h5 class="margin-thumbnail"><a href="javascript:void(0);">Semana</a></h5>
          <hr class="hr">
          <div class="thumbnail-description smaller">4.34</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="thumbnail">
        <div class="caption text-center">
          <div class="position-relative">
            <img src="assets/img/shared_64x64.png" style="width:48px;height:48px;" />
          </div>
          <h5 class="margin-thumbnail"><a href="javascript:void(0);">SharedPoint</a></h5>
          <hr class="hr">
          <div class="thumbnail-description smaller">4.34</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="panel panel-primary">
          <div class="panel-heading"><b>Detalle semana actual: </b></div>
          <div class="panel-body">
            <div class="panel-group"  id="accordion">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">SharedPoint</a>
                    <span class="badge">3</span>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <ul class="list-group">
                    <li class="list-group-item contenedor">3000IP44 <span>2 Feb 20</span><span
                        class="badge badge-pill km-badge">99
                        KM</span></li>
                    <li class="list-group-item">3000IP46</li>
                    <li class="list-group-item">3000IP47</li>
                  </ul>
                  <div class="panel-footer">
                    <div class="text-right">
                      <span class="badge badge-pill">Total KM</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Pool cliente</a>
                    <span class="badge">3</span>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <ul class="list-group">
                    <li class="list-group-item contenedor">3000IP44 <span>2 Feb 20</span><span
                        class="badge badge-pill km-badge">99
                        KM</span></li>
                    <li class="list-group-item">3000IP46</li>
                    <li class="list-group-item">3000IP47</li>
                  </ul>
                  <div class="panel-footer">
                    <div class="text-right">
                      <span class="badge badge-pill">Total KM</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
  </div>
</div>