<div class="main-content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="thumbnail">
        <div class="caption text-center">
          <div class="position-relative">
            <img src="assets/img/walking_64x64.png" style="width:48px;height:48px;" />
          </div>
          <h5 id="thumbnail-label" class="margin-thumbnail"><a href="javascript:void(0);">Caminados</a></h5>
          <hr class="hr">
          <div class="thumbnail-description smaller">40.7</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="thumbnail">
        <div class="caption text-center">
          <div class="position-relative">
            <img src="assets/img/pool-cliente.png" style="width:48px;height:48px;" />
          </div>
          <h5 class="margin-thumbnail"><a href="javascript:void(0);">Pool cliente</a></h5>
          <hr class="hr">
          <div class="thumbnail-description smaller">4.34</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="thumbnail">
        <div class="caption text-center">
          <div class="position-relative">
            <img src="assets/img/semana_64x64.png" style="width:48px;height:48px;" />
          </div>
          <h5 class="margin-thumbnail"><a href="javascript:void(0);">Semana</a></h5>
          <hr class="hr">
          <div class="thumbnail-description smaller">4.34</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
      <div class="thumbnail">
        <div class="caption text-center">
          <div class="position-relative">
            <img src="assets/img/shared_64x64.png" style="width:48px;height:48px;" />
          </div>
          <h5 class="margin-thumbnail"><a href="javascript:void(0);">SharedPoint</a></h5>
          <hr class="hr">
          <div class="thumbnail-description smaller">4.34</div>
        </div>
      </div>
    </div>
  </div>
</div>