.text-validator-error{
    color: red;
}

.title-calendario{
    margin-left: 40px;
}


#modalGrid {
    position: -webkit-sticky;
    min-height: max-content !important;
    height: -webkit-fill-available;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
}

// .date-picker-estilo{
//     margin-right: -10px;
// }


@media( max-width: 991px ){
    .date-picker-estilo{
        margin-right: 1px;
    }
}