<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Agregar - Editar IP</h4>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>IP</label>
                  <input type="text" class="form-control" placeholder="IP" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>FECHA LEVANTAMIENTO</label>
                  <input type="text" class="form-control" placeholder="FECHA LEVANTAMIENTO" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>KM</label>
                  <input type="text" class="form-control" placeholder="KM" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>UBICACIÓN</label>
                  <input type="text" class="form-control" placeholder="UBICACIÓN" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="checkbox">
                  <input id="checkbox2" type="checkbox" checked>
                  <label for="checkbox2">
                    FEEDER
                  </label>
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">AGREGAR GRID</button>
      </div>
    </div>
    <!-- Listado de grids -->
    <div class="row">
      <br>
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">GRID</h4>
            <p class="category">LISTADO DE GRIDS PARA IP 0.0.0.0</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>NO. PLANO</th>
                  <th>PIES</th>
                  <th>CASAS</th>
                  <th>NEGOCIOS</th>
                  <th>ESCUELAS</th>
                  <th>IGLESIAS</th>
                  <th>BALDIOS</th>
                  <th class="text-center">DETALLE</th>
                  <th class="text-center">ELIMINAR</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let grid of grids" class="tr-puntero-color">
                  <td>{{grid[0]}}</td>
                  <td>{{grid[1]}}</td>
                  <td>{{grid[2]}}</td>
                  <td>{{grid[3]}}</td>
                  <td>{{grid[4]}}</td>
                  <td>{{grid[5]}}</td>
                  <td>{{grid[6]}}</td>
                  <td class="text-center">
                    <button class="btn btn-info">DETALLE</button>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-danger">ELIMINAR</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin listado de grids -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="false">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Formulario grid -->
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="header">
                    <h4 class="title">GRIDS</h4>
                    <hr>
                  </div>
                  <div class="content">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>NUMERO DE PLANO</label>
                          <input type="text" class="form-control" placeholder="NO PLANO" value="">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>PIES</label>
                          <input type="text" class="form-control" placeholder="PIES" value="">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>CASAS</label>
                          <input type="number" class="form-control" placeholder="CASAS" value="">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>NEGOCIOS</label>
                          <input type="number" class="form-control" placeholder="NEGOCIOS" value="">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>ESCUELAS</label>
                          <input type="number" class="form-control" placeholder="ESCUELAS" value="">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>BALDIOS</label>
                          <input type="number" class="form-control" placeholder="BALDIOS" value="">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="COMENTARIOS" value="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <br>
                        <select class="selectpicker" data-container="body" data-live-search="true" data-live-search-placeholder="Caminador" data-title="Caminador"
                          data-width="100%" multiple>
                          <option data-tokens="Caminador 1">Caminador 1</option>
                          <option data-tokens="Caminador 2">Caminador 2</option>
                          <option data-tokens="Caminador 3">Caminador 3</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin Formulario grid -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
            <a class="btn btn-default" style="z-index:2">OK</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin modal -->
  </div>
</div>