<div class="main-content">
  <app-loader *ngIf="loading"></app-loader>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-md-12">
        <div id="contenido" class="card">
          <div class="header">
            <h4 class="title">{{ create ? 'Crear IP' : 'Actualizar IP' }}</h4>
          </div>
          <div class="content">
            <form [formGroup]="form" (ngSubmit)="actionFormIp()" autocomplete="off">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Proyecto</label>
                  <select class="proyectos" [(ngModel)]="ip.proyecto.id_proyecto" formControlName='id_proyecto'>
                    <option data-tokens="proyecto.nombre" *ngFor="let proyecto of proyectos" [value]="proyecto.id_proyecto" selected="proyecto.id_proyecto == ip.proyecto.id_proyecto">{{ proyecto.nombre }}</option>
                  </select>
                  <small *ngIf="form.controls.id_proyecto.errors?.required && (form.controls.id_proyecto?.touched || submitted)" class="form-text text-muted text-validator-error">
                    Requerido
                  </small>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12"></div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>IP</label>
                      <input type="text" class="form-control ip" placeholder="IP" [(ngModel)]="ip.ip" formControlName='ip'>
                    </div>
                    <small *ngIf="form.controls.ip.errors?.required && (form.controls.ip?.touched || submitted)" class="form-text text-muted text-validator-error">
                      Requerido
                    </small>
                    <small *ngIf="form.controls.ip.errors?.whitespace && (form.controls.ip?.touched || submitted) && !form.controls.ip.errors?.required  "
                      class="form-text text-muted text-validator-error">
                      Requerido
                    </small>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>UBICACIÓN</label>
                      <input type="text" class="form-control" placeholder="UBICACIÓN" [(ngModel)]="ip.ubicacion" formControlName='ubicacion'>
                    </div>
                    <small *ngIf="form.controls.ubicacion.errors?.required && (form.controls.ubicacion?.touched || submitted)" class="form-text text-muted text-validator-error">
                      Requerido
                    </small>
                    <small *ngIf="form.controls.ubicacion.errors?.whitespace && (form.controls.ubicacion?.touched || submitted) && !form.controls.ubicacion.errors?.required"
                      class="form-text text-muted text-validator-error">
                      Requerido
                    </small>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>KM</label>
                      <input type="text" class="form-control" placeholder="KM" [(ngModel)]="ip.km" formControlName='km'>
                    </div>
                    <small *ngIf="form.controls.km.errors?.required && (form.controls.km?.touched || submitted)" class="form-text text-muted text-validator-error">
                      Requerido
                    </small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
                        <label class="title-calendario"> FECHA LEVANTAMIENTO</label>
                        <div class="calendario"></div>
                        <input type="hidden" [(ngModel)]="ip.fecha_levantamiento" formControlName='fecha_levantamiento'>
                        <small *ngIf="ip.fecha_levantamiento == ''" class="form-text text-muted text-validator-error">
                          Requerido
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="checkbox">
                    <input id="checkbox2" type="checkbox" [(ngModel)]="ip.tipo" formControlName='tipo' [checked]="ip.tipo == 2" (change)="changeStatus($event)">
                    <label for="checkbox2">
                      FEEDER
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-info">{{ create ? 'CREAR IP' : 'ACTUALIZAR IP' }}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="btnConsultaGrids">
      <div class="col-md-12 text-center">
        <a href="javascript:void(0);" (click)="consultaGrids()">VER GRIDS</a>
      </div>
    </div>

    <div *ngIf="consultaGrid">

      <div class="row">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-primary btn-lg" (click)="agregarGrid()">AGREGAR GRID</button>
        </div>
      </div>
      <!-- Listado de grids -->
      <div class="row">
        <br>
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">GRID</h4>
              <p class="category">LISTADO DE GRIDS PARA {{ ((ip.tipo == 2)? " FEEDER " : " IP ") + ip.ip }}</p>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>NO. PLANO</th>
                    <th>PIES</th>
                    <th *ngIf="ip.tipo == 1">CASAS</th>
                    <th *ngIf="ip.tipo == 1">NEGOCIOS</th>
                    <th *ngIf="ip.tipo == 1">ESCUELAS</th>
                    <th *ngIf="ip.tipo == 1">IGLESIAS</th>
                    <th *ngIf="ip.tipo == 1">BALDIOS</th>
                    <th class="text-center">DETALLE</th>
                    <th class="text-center">ELIMINAR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let grid of ip.grids" class="tr-puntero-color">
                    <td>{{grid.numero_plano}}</td>
                    <td>{{grid.total_pies}}</td>
                    <td *ngIf="ip.tipo == 1">{{grid.total_casas}}</td>
                    <td *ngIf="ip.tipo == 1">{{grid.total_negocios}}</td>
                    <td *ngIf="ip.tipo == 1">{{grid.total_escuelas}}</td>
                    <td *ngIf="ip.tipo == 1">{{grid.total_iglesias}}</td>
                    <td *ngIf="ip.tipo == 1">{{grid.total_baldios}}</td>
                    <td class="text-center">
                      <button class="btn btn-info" (click)="detalleGrid(grid)">DETALLE</button>
                    </td>
                    <td class="text-center">
                      <button class="btn btn-danger" (click)="eliminar(grid)">ELIMINAR</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin listado de grids -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalGrid" tabindex="-1" role="dialog" data-backdrop="false">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <form id="formGrid" [formGroup]="formGrid" (ngSubmit)="actionFormGrid()" autocomplete="off">
            <div class="modal-body">
              <!-- Formulario grid -->
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="header">
                      <h4 class="title">GRIDS</h4>
                      <hr>
                    </div>
                    <div class="content">

                      <div class="row">
                        <!-- <div class="col-md-12"></div> -->
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label>NUMERO DE PLANO</label>
                                <input type="text" class="form-control" placeholder="NO PLANO" [(ngModel)]="grid.numero_plano" formControlName='numero_plano'>
                                <small *ngIf="formGrid.controls.numero_plano.errors?.required && (formGrid.controls.numero_plano?.touched || submittedGrid)"
                                  class="form-text text-muted text-validator-error">
                                  Requerido
                                </small>
                                <small *ngIf="formGrid.controls.numero_plano.errors?.whitespace && (formGrid.controls.numero_plano?.touched || submittedGrid) && !formGrid.controls.numero_plano.errors?.required"
                                  class="form-text text-muted text-validator-error">
                                  Requerido
                                </small>
                              </div>
                            </div>
                            <div [ngClass]="{'col-md-4': ip.tipo == 1 , 'col-md-8' : ip.tipo == 2 }">
                              <div class="form-group">
                                <label>PIES</label>
                                <input type="text" class="form-control" placeholder="PIES" [(ngModel)]="grid.total_pies" formControlName='total_pies'>
                                <small *ngIf="formGrid.controls.total_pies.errors?.required && (formGrid.controls.total_pies?.touched || submittedGrid)"
                                  class="form-text text-muted text-validator-error">
                                  Requerido
                                </small>
                              </div>
                            </div>
                            <div class="col-md-4" *ngIf="ip.tipo == 1">
                              <div class="form-group">
                                <label>CASAS</label>
                                <input type="number" class="form-control" placeholder="CASAS" [(ngModel)]="grid.total_casas" formControlName='total_casas'>
                                <small *ngIf="formGrid.controls.total_casas.errors?.required && (formGrid.controls.total_casas?.touched || submittedGrid)"
                                  class="form-text text-muted text-validator-error">
                                  Requerido
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-md-4" *ngIf="ip.tipo == 1">
                              <div class="form-group">
                                <label>NEGOCIOS</label>
                                <input type="number" class="form-control" placeholder="NEGOCIOS" [(ngModel)]="grid.total_negocios" formControlName='total_negocios'>
                                <small *ngIf="formGrid.controls.total_negocios.errors?.required && (formGrid.controls.total_negocios?.touched || submittedGrid)"
                                  class="form-text text-muted text-validator-error">
                                  Requerido
                                </small>
                              </div>
                            </div>
                            <div class="col-md-4" *ngIf="ip.tipo == 1">
                              <div class="form-group">
                                <label>ESCUELAS</label>
                                <input type="number" class="form-control" placeholder="ESCUELAS" [(ngModel)]="grid.total_escuelas" formControlName='total_escuelas'>
                                <small *ngIf="formGrid.controls.total_escuelas.errors?.required && (formGrid.controls.total_escuelas?.touched || submittedGrid)"
                                  class="form-text text-muted text-validator-error">
                                  Requerido
                                </small>
                              </div>
                            </div>
                            <div class="col-md-4" *ngIf="ip.tipo == 1">
                              <div class="form-group">
                                <label>IGLESIAS</label>
                                <input type="number" class="form-control" placeholder="IGLESIAS" [(ngModel)]="grid.total_iglesias" formControlName='total_iglesias'>
                                <small *ngIf="formGrid.controls.total_iglesias.errors?.required && (formGrid.controls.total_iglesias?.touched || submittedGrid)"
                                  class="form-text text-muted text-validator-error">
                                  Requerido
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-md-4" *ngIf="ip.tipo == 1">
                              <div class="form-group">
                                <label>BALDIOS</label>
                                <input type="number" class="form-control" placeholder="BALDIOS" [(ngModel)]="grid.total_baldios" formControlName='total_baldios'>
                                <small *ngIf="formGrid.controls.total_baldios.errors?.required && (formGrid.controls.total_baldios?.touched || submittedGrid)"
                                  class="form-text text-muted text-validator-error">
                                  Requerido
                                </small>
                              </div>
                            </div>
                            <div class="col-md-8" *ngIf="ip.tipo == 1">
                              <label>COMENTARIOS</label>
                              <input type="text" class="form-control" placeholder="COMENTARIOS" [(ngModel)]="grid.comentarios" formControlName='comentarios'>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <select class="caminador" multiple>
                            <option data-tokens="walker.nombre +' '+ walker.apellido_paterno" *ngFor="let walker of walkers" [value]="walker.id_walker">{{ walker.nombre +' '+ walker.apellido_paterno }}</option>
                          </select>
                          <small *ngIf="submittedGrid && (grid.walkers.length == 0)"
                            class="form-text text-muted text-validator-error">
                            Requerido
                          </small>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Fin Formulario grid -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
              <button type="submit" class="btn btn-default" style="z-index:2">CREAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Fin modal -->
  </div>
</div>