.tr-puntero-color{
    cursor: hand;
    cursor: pointer;
}

.tr-puntero-color:hover{
   background-color: #039be5;
   font-weight: bold;
   color: white;
   transition-duration: 500ms;
   transition-timing-function: linear;
}

.btn-circle.btn-xl {

    position: fixed;
    right: 25px;
    top: 100px;
    z-index: 2;

    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    box-shadow: 2px 2px 5px #888888;
    
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 0px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    border-color: #0288d1;
}

.btn-primary{
    background-color: #03a9f4;
    color: white;
  
}

.icon-status{
  height: 26px;
  width: 26px;
}

.icon-description{
    margin-left: 20px;
    margin-right: 2px;
    height: 18px;
    width: 18px;
}

.ip-estatus{
    font-size: 14px;
}

.content1{
    overflow-x: scroll;
    width: 100%;
    margin-left: -1px;
}

.footer{
    text-align: center;
}
    
@media screen and(max-width: 991px){

    .btn-circle.btn-xl {
        top: 80px;
        // visibility: hidden;
    }

    .btn-salto{
        margin-top: 10px;
    }

    .table-responsive {
        overflow-y: visible !important;
      }
    

    //  .table-responsive {
    //      overflow: auto;
    //  }




}