<div class="main-content">
  <app-loader *ngIf="loading"></app-loader>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-md-6">
        <select class="proyectos" [(ngModel)]="selectedProject"  (change)="limpiarBusqueda()">
          <option data-tokens="proyecto.nombre" *ngFor="let proyecto of proyectos" [value]="proyecto.id_proyecto">{{ proyecto.nombre }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-info" (click)="busquedaIp()">VER IP's</button>
      </div>
    </div>
    <div class="contenedor busqueda" *ngIf="busqueda">
      <div class="row">
        <div class="col-md-12">
          <br>
          <div class="form-group">
            <label for="buscar">FILTRAR:</label>
            <input type="text" class="form-control" id="buscar" placeholder="ESCRIBE AQUÍ PARA FILTRAR" [(ngModel)]="filtrar" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="row">
        <a type="button" class="btn btn-primary btn-circle btn-xl" [routerLink]="'crear/'+selectedProject">
          <i class="fa fa-plus"></i>
        </a>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">LISTADO DE IP</h4>
              <p class="category">ESTATUS</p>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>IP</th>
                    <th>FECHA LEVANTAMIENTO</th>
                    <th>KM</th>
                    <th>QC</th>
                    <th>SP</th>
                    <th>UBICACIÓN</th>
                    <th class="text-center">DETALLE</th>
                    <th class="text-center">ELIMINAR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="ips.length == 0">
                    <td class="text-center" colspan="8" >SIN REGISTROS</td>
                  </tr>
                  <tr *ngFor="let ip of ips | searchIP: filtrar" class="tr-puntero-color">
                    <td>{{ ip.ip }}</td>
                    <td>{{ ip.fecha_levantamiento | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ ip.km }}</td>
                    <td>
                      <i class="pe-7s-check" *ngIf="ip.qc"></i>
                      <i class="pe-7s-close-circle" *ngIf="!ip.qc"></i>
                    </td>
                    <td>
                        <i class="pe-7s-check" *ngIf="ip.sp"></i>
                        <i class="pe-7s-close-circle" *ngIf="!ip.sp"></i>
                    </td>
                    <td>{{ip.ubicacion}}</td>
                    <td class="text-center">
                      <button class="btn btn-info" [routerLink]="'editar/'+ip.id_ip+'/' + selectedProject">DETALLE</button>
                    </td>
                    <td class="text-center">
                      <button class="btn btn-danger" (click)="eliminar(ip)">ELIMINAR</button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>