<!-- <div class="main-content">
  <app-loader *ngIf="loading"></app-loader>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <select class="proyectos" [(ngModel)]="selectedProject" (change)="limpiarBusqueda()">
          <option data-tokens="proyecto.nombre" *ngFor="let proyecto of proyectos" [value]="proyecto.id_proyecto">
            {{ proyecto.nombre }}</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <button type="button" class="btn btn-info btn-block btn-salto" (click)="busquedaIp()">VER IP's</button>
      </div>
    </div>
  </div>
</div> -->