<div class="main-content">
  <app-loader *ngIf="loading"></app-loader>
  <div class="container-fluid" *ngIf="!loading">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <select class="proyectos" [(ngModel)]="selectedProject" (change)="limpiarBusqueda()">
          <option data-tokens="proyecto.nombre" *ngFor="let proyecto of proyectos" [value]="proyecto.id_proyecto">
            {{ proyecto.nombre }}</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <button type="button" class="btn btn-info btn-block btn-salto" (click)="busquedaIp()">VER IP's</button>
      </div>
    </div>
    <div class="contenedor busqueda" *ngIf="busqueda">
      <div class="row">
        <div class="col-md-12">
          <br>
          <div class="form-group">
            <label for="buscar">FILTRAR:</label>
            <input type="text" class="form-control" id="buscar" placeholder="ESCRIBE AQUÍ PARA FILTRAR"
              [(ngModel)]="filtrar" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading"> <b>Listado de IP´s en Campo</b></div>
            <div class="panel-body">
              <a href="javascript:void(0);" (click)="downloadExcel()">Descargar excel</a>
              <table class="table table-hover table-striped table-reporte" >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>IP</th>
                    <th>GRIDS</th>
                    <th>UBICACIÓN</th>
                    <th>FECHA DE ENVIO A CAMPO</th>
                    <th>CUANDO SE CAMINA</th>
                    <th>OPCIONES</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="ips.length == 0">
                    <td class="text-center" colspan="7">SIN REGISTROS</td>
                  </tr>
                  <tr *ngFor="let ip of ips | searchIP: filtrar" class="tr-puntero-color">
                    <td>{{ ip.index }}</td>
                    <td>{{ ip.ip }}</td>
                    <td>{{ ip.total_grids }}</td>
                    <td>{{ ip.ubicacion }}</td>
                    <td>{{ ip.fecha_envio_campo | date: 'mediumDate' }}</td>
                    <td>{{ ip.fecha_asignacion_caminar | date: 'mediumDate' }}</td>
                    <td><button class="btn btn-sm btn-primary" (click)="openModal(ip)">ASIGNAR FECHA CAMINAR</button>
                    </td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal calendario -->
    <div class="modal fade" id="modal-calendario" tabindex="-1" role="dialog" data-backdrop="false">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h6 class="modal-title">FECHA A CAMINAR</h6>
          </div>
          <div class="modal-body text-center">
            <div class="div-calendario"></div>
            <small *ngIf="requerido" class="form-text text-muted text-validator-error">Seleccione una fecha</small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" (click)="close()">CANCELAR</button>
            <button type="submit" class="btn btn-default btn-sm" (click)="cambiar()">CAMBIAR</button>
          </div>
        </div>
      </div>
    </div>
    <!-- fin modal calendario -->
  </div>
</div>