<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 col-xs-12 centrado">
                <div class="fp-page">
                    <div class="fp-box">
                        <div class="card">
                            <div class="header">
                                <a href="javascript:void(0);">TECH-PRO &nbsp;&nbsp;</a>
                                <small>CONTROL DE PRODUCCION</small>
                            </div>
                            <div class="content">
                                <form autocomplete="off" (ngSubmit)="recoveryPwd()">
                                    <div class="text-muted">
                                        Ingrese su correo empresarial. Le enviaremos su nueva contraseña
                                    </div>
                                    <div class="input-group col-sm-12 col-xs-12">
                                        <span class="input-group-addon pe-7s-mail"></span>
                                        <input type="email" class="form-control" name="email"
                                            placeholder="correo@tech-pro.com.mx" autofocus
                                            [(ngModel)]="correo_electronico" (keypress)="keyPress($event)">
                                      
                                    </div>
                                    <small class="text-validator-error">{{ mensaje_error }}</small>
                                    <br><br>
                                    <button class="btn btn-block btn-lg bg-lime waves-effect" type="submit"
                                        [disabled]="disabled_btn">RESETEAR
                                        CONTRASEÑA</button>
                                </form>
                                <br>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <a routerLink="../login" class="pull-right">Iniciar sesión ahora!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>