<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        XSOFT
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        XNET
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        XSERV
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://tech-pro.com.mx">TECH-PRO</a>, Todos los Derechos Reservados
        </p>
    </div>
</footer>
